* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy', sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 85%;
    width: 100%;
    background: #111;
    display: flex;
    padding: 5vw 10vw;
}

#left {
    height: 100%;
    width: 45%;
    background-color: #333;
    /* background: url("https://i.scdn.co/image/ab67616d0000b2735f3ede47954a93aa03efe5f9"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#right {
    height: 100%;
    width: 55%;
    /* background-color: blue; */
    padding: 0 3vw;
}

#right h3 {
    font-size: 30px;
}

#all_songs {
    /* background-color: red; */
    height: 85%;
    max-height: 90%;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.song_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 15px 10px;
}

.song_card:hover {
    background-color: #1e1e1e;
}

.song_card:nth-last-child(1) {
    border-bottom: 1px solid #5a5a5a;
}

.song_card .part1 {
    display: flex;
    align-items: center;
    /* pointer-events: none; */
}

.song_card img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 20px;
}

.song_card h2 {
    font-size: 18px;
    font-weight: 400;
}

.song_card h6 {
    font-size: 15px;
    font-weight: 500;
}

#player {
    height: 15%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3 {
    background-color: rgb(30, 30, 30, 0.737);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player  h3 i {
    font-size: 20px;
}

#player h3:active {
    scale: 0.8;
}